apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    feature-gates: "EphemeralContainers=true"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: 1.19.4
api:
  advertiseAddress: 35.188.69.150
cloud-provider: gce
networking:
  podSubnet: 10.244.0.0/16 
apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
    feature-gates: "EphemeralContainers=true"
    cloud-provider: gce
    cloud-config: /etc/kubernetes/cloud-config
  extraVolumes:
  - name: cloud
    hostPath: /etc/kubernetes/cloud-config
    mountPath: /etc/kubernetes/cloud-config
  certSANs:
  - "*.c.vmware-ysung.internal"
  - "*.cks.vmware.lab"
  - "35.188.69.150"
  - "cks.phartdoctor.us"
scheduler:
  extraArgs:
    feature-gates: "EphemeralContainers=true"
controllerManager:
  extraArgs:
    feature-gates: "EphemeralContainers=true"
    cloud-provider: gce
    cloud-config: /etc/kubernetes/cloud-config
  extraVolumes:
  - name: cloud
    hostPath: /etc/kubernetes/cloud-config
    mountPath: /etc/kubernetes/cloud-config
